.content_wrapper{
    margin-left: 150px;
    margin-right: 200px;

}

.main_content{
    background-color: tan; 
    flex-grow: 1;
}

.sidebar{
    background-color: lightblue; 
    padding: 1rem;
    margin-right: 100px;
    width: 240px;

}