{% extends 'parts_base.html' %}
{% block filters %}
<label for="manuDropdown" id="manufac">Manufacturer</label>
<select class="form-select" name="manuDropdown">
    
    <option value="">Any</option>
    <option value="amd" {% if manufacturer == 'amd' %}selected{% endif %}>AMD</option>
    <option value="intel"{% if manufacturer == 'intel' %}selected{% endif %}>Intel</option>
    </select>
    
{% endblock filters %}
{% block parts_content %}
<table class="table">
    <thead>
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Price</th>
          <th scope="col">Clock Speed</th>
        </tr>
    </thead>
    <tbody>
        {% for cpu in cpu_entries if cpu.price and (cpu.price > min_value) %}
            <tr>
                <td>Model: {{ cpu.model }}</td>
                <td>${{ cpu.price }}</td>
                <td>Clock Speed: {{ cpu.clockSpeed }}</td>
                <td>
                    <form action="{{ url_for('add_part', part_type='cpu') }}" method="post">
                    <input type="hidden" name="cpu_id" value="{{ cpu.id }}">
                    <button type="submit" class="btn">Add</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock parts_content %}