{% extends 'parts_base.html' %}
{% block parts_content %}
<table class="table">
    <thead>
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Price</th>
          <th scope="col">Clock Speed</th>
        </tr>
    </thead>
    <tbody>
        {% for cpu in cpu_entries if cpu.price and (cpu.price > min_value) %}
            <tr>
                <td>Model: {{ cpu.model }}</td>
                <td>${{ cpu.price }}</td>
                <td>Clock Speed: {{ cpu.clockSpeed }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock parts_content %}