{% extends 'parts_base.html' %}
{% block parts_content %}
<table class="table">
    <thead>
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Price</th>
          <th scope="col">Size</th>
          <th scope="col">RPM</th>
        </tr>
    </thead>
    <tbody>
        {% for cpucooler in cpucooler_entries if cpucooler.price and (cpucooler.price > min_value) %}
            <tr>
                <td>{{ cpucooler.model }}</td>
                <td>${{ cpucooler.price }}</td>
                {% if cpucooler.size %}
                <td>{{ cpucooler.size }}mm</td>
                {% else %}
                <td>{{ cpucooler.size }}</td>
                {% endif %}
                
                <td>{{ cpucooler.rpm }}</td>
                <td>
                    <form action="{{ url_for('add_part', part_type='cpucooler') }}" method="post">
                    <input type="hidden" name="cpucooler_id" value="{{ cpucooler.id }}">
                    <button type="submit" class="btn">Add</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock parts_content %}