{% extends 'parts_base.html' %}
{% block parts_content %}
<table class="table">
    <thead>
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Price</th>
          <th scope="col">Capacity</th>
          <th scope="col">Type</th>
          <th scope="col">Interface</th>
        </tr>
    </thead>
    <tbody>
        {% for drive in drive_entries if drive.price and (drive.price > min_value) %}
            <tr>
                <td>{{ drive.model }}</td>
                <td>${{ drive.price }}</td>
                <td>{{ drive.capacity }}</td>
                <td>{{ drive.drive_type }}</td>
                <td>{{ drive.interface }}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock parts_content %}