{% extends 'parts_base.html' %}
{% block parts_content %}
<table class="table">
    <thead>
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Price</th>
          <th scope="col">Chipset</th>
          <th scope="col">Memory</th>
          <th scope="col">Core Clock</th>
          <th scope="col">Length</th>

        </tr>
    </thead>
    <tbody>
        {% for gpu in gpu_entries if gpu.price and (gpu.price > min_value) %}
            <tr>
                <td>{{ gpu.model }}</td>
                <td>${{ gpu.price }}</td>
                <td>{{ gpu.chipset }}</td>
                <td>{{ gpu.mem }}</td>
                <td>{{ gpu.core_clock }}</td>
                <td>{{ gpu.gpu_len }}</td>

                <td>
                    <form action="{{ url_for('add_part', part_type='gpu') }}" method="post">
                    <input type="hidden" name="gpu_id" value="{{ gpu.id }}">
                    <button type="submit" class="btn">Add</button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock parts_content %}