{% extends 'parts_base.html' %}
{% block parts_content %}
<table class="table">
    <thead>
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Price</th>
          <th scope="col">Form Factor</th>
          <th scope="col">Efficiency Rating</th>
          <th scope="col">Wattage</th>
          <th scope="col">Modular</th>
        </tr>
    </thead>
    <tbody>
        {% for psu in psu_entries if psu.price and (psu.price > min_value) %}
            <tr>
                <td>{{ psu.model }}</td>
                <td>${{ psu.price }}</td>
                <td>{{ psu.form_factor }}</td>
                <td>{{ psu.effi }}</td>
                <td>{{ psu.wattage }}</td>
                {% if psu.mod == '0' %}
                    <td>No</td>
                {% else %}
                    <td>{{ psu.mod }}</td>
                {% endif %}
                <td>
                    <form action="{{ url_for('add_part', part_type='psu') }}" method="post">
                    <input type="hidden" name="psu_id" value="{{ psu.id }}">
                    <button type="submit" class="btn">Add</button>
                    </form>
                </td>
                
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock parts_content %}