{% extends 'parts_base.html' %}
{% block parts_content %}
<table class="table">
    <thead>
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Price</th>
          <th scope="col">Speed</th>
          <th scope="col">Modules</th>
          <th scope="col">CAS Latency</th>
        </tr>
    </thead>
    <tbody>
        {% for ram in ram_entries if ram.price and (ram.price > min_value) %}
            <tr>
                <td>{{ ram.model }}</td>
                <td>${{ ram.price }}</td>
                <td>{{ ram.speed }}</td>
                <td>{{ ram.modules }}</td>
                <td>{{ ram.cas_latency }}</td>
                <td>
                    <form action="{{ url_for('add_part', part_type='ram') }}" method="post">
                    <input type="hidden" name="ram_id" value="{{ ram.id }}">
                    <button type="submit" class="btn">Add</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock parts_content %}