{% extends 'base.html' %}
{% block content %}
<div style="margin: 1rem;">
  <h1>Home Page</h1>
  <p>Welcome to Build a PC!</p>
</div>
  <table class="table table-hover mx-lg-3">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Component</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for part in parts %}
          <tr>
            <th scope="row">{{ part.name }}</th>
            <td>
              {% if part.chosen %}
                {{ part.chosen.model }}
              {% else %}
                <a href="{{ url_for('part_picker', part_type=part.add_url) }}" class="btn btn-outline-info btn-sm">
                  + Add {{part.name}}
                </a>
              {% endif %}
            </td>
            <td> <!-- Price -->
              {% if part.chosen %}
                {{ part.chosen.price }}
              {% else %}
                -
              {% endif %}
            </td>
            <td></td>
            {% if part.chosen %}
              <td>
                <form action="{{ url_for('remove_part', part_type=part.add_url) }}" method="post">
                <button type="submit" class="btn btn-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </button>
                </form>
            {% else %}
            <td></td>
            {% endif %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock content %}
