{% extends 'base.html' %}
{% block content %}
<div style="margin: 1rem;">
  <h1>Home Page</h1>
  <p>Welcome to Build a PC!</p>
</div>
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Component</th>
          <th scope="col">Brand</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for part in parts %}
          <tr>
            <th scope="row">{{ part.name }}</th>
            <td>
              {% if part.chosen %}
                {{ part.chosen.model }}
              {% else %}
                <a href="{{ url_for('part_picker', part_type=part.add_url) }}" class="btn btn-outline-info btn-sm">
                  + Add {{part.name}}
                </a>
              {% endif %}
            </td>
            <td> <!-- Brand -->
              {% if part.chosen %}
                {{ part.chosen.brand }}
              {% else %}
                -
              {% endif %}
            </td>
            <td> <!-- Price -->
              {% if part.chosen %}
                {{ part.chosen.price }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
            {% if part.chosen %}
              <td>
                <form action="{{ url_for('remove_part', part_type=part.add_url) }}" method="post">
                <button type="submit" class="btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                  </svg>
                </button>
                </form>
              </td>
            {% endif %}
          </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock content %}
