{% extends 'base.html' %}
{% block content %}
  <h1>Home Page</h1>
  <p>Welcome to Build a PC!</p>
  <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Component</th>
          <th scope="col">Brand</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">CPU</th>
        </tr>
        <tr>
          <th scope="row">CPU Cooler</th>
        </tr>
        <tr>
          <th scope="row">Motherboard</th>
        </tr>
        <tr>
          <th scope="row">Graphics Card</th>
        </tr>
        <tr>
          <th scope="row">Memory</th>
        </tr>
        <tr>
          <th scope="row">Storage</th>
        </tr>
        <tr>
          <th scope="row">Power Supply</th>
        </tr>
        <tr>
          <th scope="row">Case</th>
        </tr>
        <tr>
          <th scope="row">Fans</th>
        </tr>
        <tr>
          <th scope="row">AIO</th>
        </tr>
      </tbody>
  </table>
{% endblock content %}
